@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter&family=Pinyon+Script&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*******w********
    
    Name: Tanner Agar
    Date: 2024-02-28
    Description: css for final project

****************/

/* table of contents */

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #fca311;
    color: #000000;
}

th, td {
    padding: 12px;
    border: 1px solid #ccd9ff;
    text-align: left;
}



tbody tr:nth-child(even) {
    background-color: #ffead0;
}

tbody tr:hover {
    background-color: #ecf1ff;
}

a {
    color: ccd9ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}





/* post php */
.title-large {
    font-size: 42px;
    margin-bottom: 22px;
    padding-left:50px;
    padding-bottom:0px;
}

.date-large {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    margin-left:50px;
}

.updated-large {
    margin-left:50px;
}

.post-cms img {
    margin: 16px;
    padding:19px;
}

.content-large
{
    padding:50px;
}

.edit-link-large{
    margin-top:150px;
    margin-left:50px;
    margin-bottom:50px;
}




/* fieldset for new/edit post */

#content {
    border: 2px solid #14213d;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
    margin: 25px 25px;
}


.edit-new-content {
border-radius:4px;
    border-top: 24px solid #ecf1ff;
    border-bottom: 4px solid #ccd9ff;
    border-left: 8px solid #ffe3b7;
    border-right: 8px solid #ffe3b7;
    padding-bottom:20px;
    margin-bottom:45px;
}

.upload-btn {
    display: block;
    background-color: #ecf1ff;
    border-top: 4px solid #ecf1ff;
    border-bottom: 4px solid #ccd9ff;
    border-left: 4px solid #ecf1ff;
    border-right: 4px solid #ecf1ff;
    border-radius: 1px;
    cursor: pointer;
}

.upload-btn:hover
{
    color:#14213d;
    outline:1px solid black;
}

.upload-btn::after{
    content: 'Upload an image';
}

.upload-btn img {
    width: 25px;
    height: 25px;
    color: #ecf1ff;
}


#image {
}


.edit-new-header
{
    color: #14213d;
    padding: 50px 0;
    text-align: center;
    z-index:4;

}

.controls
{
    justify-content: space-around;
    display:flex;
}

#image
{
    border-radius:5px;
    background-color: #fca311;
    color: #14213d;
}

.controls input[type="image"]
{
    border-radius:10px;
    background-color:#ecf1ff;
    color: #ecf1ff;
}


/* search form */

.search-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    outline: 1px #14213d;
    max-width:1500px;
    border-radius:50px;
    overflow:hidden;
    margin:0 auto;
    box-shadow: 2px 2px 45px rgba(0, 0, 0, 0.2);
}

.search-header
{
    -webkit-text-stroke: 1px #fca311;
    font-size: 36px;
    color: #14213d;
}


/* index stylings */


.header {
    color: #14213d;
    padding: 40px 0;
    text-align: center;

}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin: 20px 0;
}
.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    outline: 1px #14213d;
    max-width:1500px;
    border-radius:50px;
    overflow:hidden;
    margin:0 auto;
    box-shadow: 2px 2px 45px rgba(0, 0, 0, 0.2);
}

.divider {
    border: none;
    border-top: 18px solid #ecf1ff;
    border-bottom: 4px solid #ccd9ff;
    width: 100%;
    margin: 0px 0;
}

.nav-divider {
    border-bottom: 4px solid #fca311;
    border-top: 8px solid #ffe3b7;
    width: 75%;
    margin: 0px 0;
    border-radius:4px;
}

.top-bar
{
    background-color: #fca311;
    width:100%;
    justify-content: center;
    display:flex;
    flex-direction: row;
    overflow:hidden;
    border-radius:14px;
    outline: 16px solid #ffe3b7;

}

.search-form
{
    display: flex;
    justify-content: space-evenly;
    color: black;
    width: 800px;
    flex-direction: row;
    align-items:center;
}

.search-form input[type="text"] {
    border-radius:5px;
    border-color: #14213d;
    width: 250px;
    height: 20px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

.search-form input[type="submit"] {
    border-radius:4px;
    height: 24px;
    width: 64px;
}

.table-content-new
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:50px;
}

.nav {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sort {
    display:flex;
    justify-content: space-evenly;
}

.sort a {
    margin-left: 20px;
}


/* card grid begin */


.cms-card
{
    display:grid;
    padding:20px;
    max-width:800px;
    border-radius:8px;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #e5e5e5;
    outline: #fca311 groove 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow-wrap: break-word;
}
.cms-card h1 {
    max-width: 500px;
    max-height: 40px;
}


/* hexes for design: 000000 black, #14213d muted blue, #fca311 warm orange, #e5e5e5 light gray, #ffffff white */
.cms-post {
    gap:64px;
    display:grid;
    grid-template-columns:repeat(2, 1fr); /* enforce column struct. */
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px;
}

.cms-head {
    display:flex;
    text-decoration-style:wavy;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #14213d;
    font-size:27px;
}

.created-header
{
    display:flex;
    margin-bottom:0px;
    font-size: .8rem
}

.date-created {
    font-size: .9rem;
    color: #666;
    margin-top:0px;
}

.updated-at
{
    display:flex;
    justify-content: end;
    font-size: .9rem;
    color: #000000;
    margin-bottom: 10px;
    font-style:italic;
}

.trunc-card {
    margin-bottom: 50px;
    color: #14213d;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal; 
    word-wrap: break-word;
}

.read-more a {
    color: #14213d;
    accent-color: auto;
    text-decoration: underline;
}

.new-post a {
    color:#14213d;
}


body {
    font-family: Arial, sans-serif;
}

.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    max-width: 700px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal; 
    word-wrap: break-word; 
}


.content {
    white-space: pre-line; /* Preserve line breaks */
    margin-bottom: 20px;
}

.edit-link {
    text-align: center;
}

.edit-link a {
    color: blue;
    text-decoration: none;
}

.edit-link a:hover {
    text-decoration: underline;
}
