/*******w******** 
    
    Name: Tanner Agar
    Date: 2024-02-28
    Description: css for index

****************/

.header {
    background-color: #333;
    color: #fff;
    padding: 60px 0; /* Adjust padding to increase the header size */
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin: 20px 0;
}
.container {
display: flex;
flex-direction: column;
align-items: center;
}

.cms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.cms-post {
    margin-bottom: 20px;
}

.cms-head {
    font-size: 24px;
    margin-bottom: 10px;
}

.timestamp {
    color: #666;
    margin-bottom: 10px;
}

.trunc-card {
    margin-bottom: 10px;
    color: rgb(4, 0, 255);
    max-width: 700px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal; 
    word-wrap: break-word; 
    
}

.read-more a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.new-post {
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
}

.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    max-width: 700px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal; 
    word-wrap: break-word; 
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
}

.timestamp {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.content {
    white-space: pre-line; /* Preserve line breaks */
    margin-bottom: 20px;
}

.edit-link {
    text-align: center;
}

.edit-link a {
    color: blue;
    text-decoration: none;
}

.edit-link a:hover {
    text-decoration: underline;
}
